@{
    ViewBag.Title = "Home Page";
}
@*@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                To learn more about ASP.NET MVC visit
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
                If you have any questions about ASP.NET MVC visit
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
            </p>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Getting Started</h5>
        ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
        enables a clean separation of concerns and that gives you full control over markup
        for enjoyable, agile development. ASP.NET MVC includes many features that enable
        fast, TDD-friendly development for creating sophisticated applications that use
        the latest web standards.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245151">Learn more…</a>
    </li>

    <li class="two">
        <h5>Add NuGet packages and jump-start your coding</h5>
        NuGet makes it easy to install and update free libraries and tools.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245153">Learn more…</a>
    </li>

    <li class="three">
        <h5>Find Web Hosting</h5>
        You can easily find a web hosting company that offers the right mix of features
        and price for your applications.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245157">Learn more…</a>
    </li>
</ol>*@


            <!-- HERO -->
		    <section id="hero" class="module-hero bg-dark-30 js-fullheight" data-background="/assets/images/homepage-hero.jpg">

			    <!-- HERO TEXT -->
			    @*<div class="hero-caption">
				    <div class="hero-text">
					    <h6 class="m-b-30">Photo-a-day by</h6>
					    <h1 class="m-b-30">Andrew Stone</h1>
					    <h6 class="m-b-60">Creative Wedding Photographer</h6>
					    <a href="#portfolio" class="btn btn-dark anim-scroll">Learn More</a>
				    </div>
			    </div>*@
			    <!-- /HERO TEXT -->

		    </section>
		    <!-- /HERO -->

		    <!-- PORTFOLIO SINGLE -->
		    <section class="module">
			    <div class="container-fluid container-custom">

				    <div class="row">

					    <div class="col-sm-8 col-sm-offset-2">

						    <!-- PORTFOLIO CONTENT -->
						    <article class="portfolio-post post">

							    <h4>Inspiration</h4>
							    <blockquote><p>You can’t connect the dots looking forward; you can only connect them looking backwards. So you have to trust that the dots will somehow connect in your future.</p></blockquote>

							    <p>Artisan Intelligentsia PBR Pinterest, trust fund PBR&B church-key fap gastropub Blue Bottle butcher listicle Thundercats before they sold out post-ironic. +1 authentic squid sartorial. Echo Park slow-carb hashtag mumblecore cred art party. Wolf direct trade banh mi gastro pub letterpress tattooed ugh hoodie fap trust fund viral sartorial.</p>

							    <p><img src="assets/images/portfolio-single-1.jpg" alt=""></p>

							    <h4>Ideas</h4>
							    <p>Artisan Intelligentsia PBR Pinterest, trust fund PBR&B church-key fap gastropub Blue Bottle butcher listicle Thundercats before they sold out post-ironic. +1 authentic squid sartorial. Echo Park slow-carb hashtag mumblecore cred art party. Wolf direct trade banh mi gastro pub letterpress tattooed ugh hoodie fap trust fund viral sartorial.</p>

							    <div class="owl-carousel slider">
								    <div class="item">
									    <img src="assets/images/portfolio-single-2.jpg" alt="">
								    </div>
								    <div class="item">
									    <img src="assets/images/portfolio-single-3.jpg" alt="">
								    </div>
							    </div>

							    <h4>Happy Result</h4>
							    <p>Artisan Intelligentsia PBR Pinterest, trust fund PBR&B church-key fap gastropub Blue Bottle butcher listicle Thundercats before they sold out post-ironic. +1 authentic squid sartorial. Echo Park slow-carb hashtag mumblecore cred art party. Wolf direct trade banh mi gastro pub letterpress tattooed ugh hoodie fap trust fund viral sartorial.</p>

							    <h6>Client: Personal / Agency:N/A</h6>
							    <h6>Via: <a class="link" href="#" target="_blank">Careal</a></h6>

						    </article>
						    <!-- /PORTFOLIO CONTENT -->

						    <!-- TAGS -->
						    <div class="tags font-serif">
							    <a href="#">Fashion</a>
							    <a href="#">Typography</a>
							    <a href="#">Photography</a>
						    </div>
						    <!-- /TAGS -->

					    </div><!-- .col-* -->

				    </div>

			    </div>
		    </section>
		    <!-- PORTFOLIO SINGLE -->